<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Mega Bite</title>
</head>
<body>
    <h1>Find the perfect bite</h1>
    <form method="POST">
        Category:<br>
        <input type="text" name="category"><br>
        Location:<br>
        <input type="text" name="location"><br>
        Price: (1 is cheap, 4 is expensive)<br>
        <input type="number" name="price" min="1" max="4"><br><br>
      <input type="submit" value="Submit"><br><br>
    </form>
    <table>

    </table>
    <p><a href="/home">Home</a></p>
</body>
</html>