<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Mega Bite</title>
</head>
<body>
    <h1>Find the perfect bite</h1>
    <form method="POST">
        Category:<br>
        <input type="text" name="category" value={{category}}><br>
        Location:<br>
        <input type="text" name="location" value={{location}}><br>
        Maximum Price: (1 is cheap, 4 is expensive)<br>
        <input type="number" name="price" min="1" max="4"
               value={{price}}><br><br>
      <input type="submit" value="Submit"><br><br>
    </form>
    {% if results %}
    <p><b>We found your perfect bite!</b></p>
    <table>
        {% for result in results %}
        <tr>
            <td width="170">{{result.name}}</td>
            <td>{{result.location}}</td>
            <td>{{result.category}}</td>
            <td>{{'$'*result.price}}</td>
        </tr>
        {% endfor %}
    </table>
    {% elif category or location or price %}
    <p>Sorry we could not find your perfect bite :(</p>
    {% endif %}
    <p><a href="/home">Home</a></p>
</body>
</html>
